.ForgetPassword
{
   width: 100%;
   height: calc(100% - 75px);
   background-color: lightgray;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}

.forget-container
{
    width: 500px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
}

.closebt
{
    display: flex;
    justify-content: flex-end;
}

.closebt button
{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.closebt button:hover
{
    color: red;
}

.details-a
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-a h1
{
    color: blueviolet;
    font-size: 35px;
}

.details-a input
{
    border: solid blueviolet 2px;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 10px;
}

.details-a button
{
    background-color: blueviolet;
    color: white;
    border:none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.details-a button:hover
{
    background-color: rgb(8, 187, 8);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

@media screen and (max-width: 1280px)
{
    .ForgetPassword
    {
        height: 85%;
    }
}

@media screen and (max-width: 1024px)
{
    .ForgetPassword
    {
        height: 91%;
    }
    
}

@media screen and (max-width: 768px)
{
    .ForgetPassword
    {
        height: 89%;
    }

}

@media screen and (max-width: 480px)
{
    .ForgetPassword
    {
        height: calc(100% - 59px);
    }

    .forget-container
    {
        width: 250px;
    }

    .details-a h1
    {
        color: blueviolet;
        font-size: 30px;
    }

}

@media screen and (max-width: 360px)
{
    .forget-container
    {
        width: 200px;
        height: 250px;
    }

    .details-a h1
    {
        color: blueviolet;
        font-size: 25px;
    }

    .details-a h3
    {
        font-size: 15px;
    }
}

