.reset-password
{
    width: 500px;
    height: 350px;
    position: absolute;
    left: -35%;
    top: -10%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}

.details-a p
{
    background-color: lightgreen;
    padding: 10px;
    border: solid green 2px;
    font-weight: bold;
}

@media screen and (max-width: 480px)
{
    .reset-password
    {
        width: 250px;
        left: -3%;
        top: -10%;
    }
}

@media screen and (max-width: 360px)
{
    .reset-password
    {
        width: 230px;
    }
}

@media screen and (max-width: 280px)
{
    .reset-password
    {
        width: 200px;
        left: 0;
    }
}