.UpdateOwner
{
    width: 100%;
    height: calc(100% - 30px);
    background-color: lightgray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-bottom: 4rem;
}

@media screen and (max-width: 360px)
{
    .UpdateOwner h1
    {
        font-size: 25px;
    }
}